
.sameproduct{

    margin-top: 50px;
}
.sameproduct img{
    width: 328px;
    
}
.mainheader{
    margin-top: 50px;
}
.right{
    margin-right: 30px;
}
.clearAll{
  text-align: end;
}
.catagory{
    margin-left: 20px;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.add{
     opacity: 0;
    position: absolute;
    background-color: red;
    text-align: center;
  
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
.add2{
    opacity: 0;
    position: absolute;
    background-color: red;
    text-align: center;
  
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.productdetails{
    
    font-size: 20px;
    font-weight: 200;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
  
}
.box_img{
    margin: 10px 10px 10px 10px;
}
.box_img:hover{
    position: relative;
    opacity: 0.7;
    color: red;
}


.typec:hover img{
    transform: scale(1.05);
    
}
.typec:hover .add{
    opacity: 1;
    bottom: 60px;
}
.typec:hover .add2{
    opacity: 1;
    top: 0px;
}

.wholecard{ 
    margin: 10px 10px 10px 10px;
}
