.aboutinfo{
    color: rgb(15, 1, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* for product details page */

.container #productimage{
   border-color: aqua;
}
#try p{
font-style: italic;
font-weight: 500;

}




/* For Buy now button */

.buynow{

    position: relative;
    margin-left: 350px;
}