.sameproduct{
    margin-top: 30px !important;
 
}

.sameproduct img{
    width: 200px;
    
    
}

.list{
    margin-top: 15px;
}

.mainheader{
    margin-top: 50px;
}
.right{
    margin-right: 30px;
}
.clearAll{
  text-align: end;
}
.catagory{
    margin-left: 20px;
    font-size: 17px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cd-filter-block ul li{
  
  
    margin-left: 50px;
    text-transform: uppercase ;

}


.cd-filter-block {
   
     margin-left: -15px;
 
 }

 .nodata{

    text-align: center;
text-transform: uppercase;
padding-top: 50px;
padding-bottom: 240px;
background-image: url("empty.png");
 }
 .nodata h1{
     font-size: 30px;
     color: grey;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 



/* 
.box-img:hover{
    position: relative;
    opacity: 0.7;
    color: red;
}


.type-lb:hover img{
    transform: scale(1.05);
    
}
.type-lb:hover .add{
    opacity: 1;
    bottom: 60px;
}
.type-lb:hover .add2{
    opacity: 1;
    top: 0px;
}


.filter-button{

    margin-bottom: 10px;
} */

.new img:hover{
    transform: scale(1.05);
    position: relative;


}


.viewbt{
    color: red;
    opacity: 0;
    background-color: red;
}
.addbt{
    color: red;
    opacity: 0;
}
.addbt1{
    color: red;
    opacity: 0;
}
.new:hover .addbt{
    opacity: 1;
    position: relative;
    bottom: 15px;
   
}
.new:hover .addbt1{
    opacity: 1;
    position: absolute;
    top: 0px;
   
}
.new:hover .viewbt{
    opacity: 1;
    position: absolute;
    top: 75px;
    margin-left: -175px;
} 
.product-info{
    position: absolute;
  
}

.newdiv{

    margin-top: 70px;
}


